html {
    box-sizing: border-box;
  }
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
body {
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#grid {
    display: flex;
    flex-wrap: wrap;
    width: 960px;
    height: 960px;
}


.rect {
    
   
    background-color: brown;
}
.blue {
    background-color: blue;
}
